@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #FAF9F9;
}


.form-container div:first-child {
    min-height: 100vh !important;
 } 
